* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #c5fae1;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(70, 167, 135);
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

label{
    color: rgb(32, 87, 69);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form {
    background: #7efbc1;
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: rgb(32, 87, 69);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgb(21, 56, 44);
    transform: scale(1.03);
}

h3{
    color:#3d6552;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}